.layout1{ width:1000px; margin:0 auto; margin-top:5px;}
.layout{ clear:both;}
.mu2_header{ height:170px; overflow:hidden; clear:both; background:url(../images/mu2_headerbg.jpg) no-repeat center top;}
.nav{ height:45px; overflow:hidden; clear:both;}
.navcon{ width:1000px; margin:0 auto;}
.nulleft{ float:left; font-family:"微软雅黑";}
.nulleft a:link,.nulleft a:visited{ display:block; float:left; text-align:center; height:45px; line-height:45px; font-size:16px; color:#fff;}
.nulleft a:hover,.nulleft a:active{ color:#fff; text-decoration:none;}
.nalright{ float:right; width:131px;}
.ling{ background:url(../images/mu2_libao.png) no-repeat; width:131px; height:45px; float:right; text-indent:-9999px; cursor:pointer;}

.left370{ width:370px; overflow:hidden; height:360px;}
.modtitle{ display:block; width:370px; overflow:hidden;}
.modtitle li{ display:block; height:35px; background:url(../images/mu_hdbg.png) no-repeat; margin-top:7px; *margin-top:5px; font-size:12px; color:#333; line-height:35px; white-space:normal; overflow:hidden;}
.modtitle li b{ display:block; float:left; width:30px; height:35px; line-height:35px; text-align:center; color:#fff; font-family:Verdana, Geneva, sans-serif; font-weight:normal; margin-right:5px;}
.modtitle li b.b1{ background:url(../images/I.png) no-repeat;}
.modtitle li b.b2{ background:url(../images/II.png) no-repeat;}
.modtitle li b.b3{ background:url(../images/III.png) no-repeat;}
.modtitle li.current{ background:url(../images/mu2_hdcurbg.png) no-repeat;}
.modtitle li a{ display:block; float:left; width:330px; white-space:nowrap; overflow:hidden; text-decoration:none; color:#333;}
.modtitle li a:hover{ text-decoration:none;}
.modso{ display:block; background:url(../images/mu2_soso.png) no-repeat; width:370px; height:44px; overflow:hidden; clear:both; margin-top:5px;}
.modso input{ display:block; float:left; border:none; background:none;}
.modso .modtext{ width:306px; margin:2px; height:40px; line-height:40px; font-size:14px; font-family:"微软雅黑"; color:#666; text-indent:8px; outline:none;}
.modso .omdbtn{ width:59px; height:44px; cursor:pointer;}

.mid370{ width:370px; overflow:hidden; height:358px; margin-left:8px;}
.modtoutiao{ font-size:17px; white-space:nowrap; overflow:hidden; height:47px; line-height:47px; padding-top:7px; border-bottom:1px dashed #cbdce9; margin:0 8px; font-family:"微软雅黑"; font-weight:normal; text-align:center;}
.modtoutiao a:link,.modtoutiao a:visited{ color:#d11111;}
.modtoutiao a:hover,.modtoutiao a:active{ color:#fc3000;}

.newsmid{ height:144px; overflow:hidden; padding-top:6px;}
.newsmid li{ line-height:28px; *line-height:26px; clear:both; overflow:hidden; height:28px; *height:26px; margin:0 10px;}
.newsmid li a{ display:block; float:left; width:300px; white-space:nowrap;text-overflow: ellipsis; overflow:hidden; font-size:14px;}
.newsmid li span{ display:block; float:right; color:#888;}

.right240{ width:240px;}
.moddown{ /*height:151px;*/ clear:both;}

.godown{ padding-right:4px; width:240px; height:46px; position: relative; z-index: 19; margin-bottom:4px;}
.anzhuo{ background:url(../images/mu2_anzhuodown.png) no-repeat;}
.pingguo{ background:url(../images/mu2_pingguodown.png) no-repeat;}
.pingban{ background:url(../images/mu2_padedoen.png) no-repeat;}

.anzhuoNO{ background:url(../images/mu_anzhuoNO.png) no-repeat;}
.pingguoNO{ background:url(../images/mu_pingguoNO.png) no-repeat;}
.pingbanNO{ background:url(../images/mu_pingbanNO.png) no-repeat;}


.anzhuo_no{ background:url(../images/mu2_anzhuodown_hui.png) no-repeat;}
.pingguo_no{ background:url(../images/mu2_pingguodown_hui.png) no-repeat;}
.pingban_no{ background:url(../images/mu2_padedoen_hui.png) no-repeat;}
.godown .j-count{ display:block; float:left; width:177px; height:46px; outline:none;}
.godown .trigger{ display:block; float:left; width:62px; height:46px;}
.dclist li h3,.dclist li p{ line-height:27px;}
.dclist li h3{ font-size:14px;}
.dclist li h3 a:link,.dclist li h3 a:visited{ color:#049;}
.dclist li h3 a:hover,.dclist li h3 a:active{ color:#fc3000;}
.dclist li p{ color:#888;}
.godown .qr {position: absolute; text-indent:0px;top: -5px;right: -150px;width: 140px;height: 145px;padding-top: 15px;background: #fff;border: 1px solid #ebebeb;text-align: center;z-index: 99;}
.godown .qr img{ width:120px; height:120px;}
.godown .qr .tri {position: absolute;top: 5px;left: -16px;display: block;width: 16px;height:36px;background: url(../images/qr_tri.jpg) right center no-repeat;}
.dclist li .qr p {line-height: 22px;font-size: 14px;font-family:"微软雅黑";color:#666;}


.moddianping{ overflow:hidden; background:url(../images/mu2_pingfen.png) no-repeat; width:240px; height:209px; clear:both;}
.moddptit,.Edit_score{ height:52px; overflow:hidden; clear:both;}
.dpbt,.edit{ display:block; float:left; font-size:14px; color:#333; padding-left:10px; height:37px; padding-top:15px; line-height:37px; font-family:"微软雅黑";}
.dpfenshu,.score{ float:right; font-size:28px; color:#e63b27; padding-top:18px; width:66px; text-align:center; padding-right:17px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
.dpneir,.Ev_con{ line-height:22px; color:#333; display:block; margin:0 10px; padding-top:12px;}
.Ev_tit{ display:none;}

.modxinwen{ width:240px; }
.mulantit{ height:38px; overflow:hidden; clear:both; padding-left:10px;}
.mulantit .btname{ display:block; float:left; padding-left:25px; background:url(../images/mu2_lanico.png) no-repeat left center; height:38px; line-height:38px; font-size:18px; font-family:"微软雅黑"; color:#333;}
.mulantit a.btmore:link,.mulantit a.btmore:visited{ display:block; float:right; height:38px; line-height:38px; padding-right:10px; color:#999;}
.mulantit a.btmore:hvoer,.mulantit a.btmore:active{ color:#fc3000; text-decoration:none;}

.moexwlist{ overflow:hidden; clear:both; height:311px; border-top:none; padding-top:8px;}
.moexwlist ul{ display:block; height:120px; overflow:hidden; clear:both;}
.moexwlist ul li{ line-height:28px; *line-height:26px; height:28px; *height:26px; clear:both;}
.moexwlist ul li .xwbit,.moexwlist ul li .xwname,.moexwlist ul li .wxtime{ display:block; float:left;}
.moexwlist ul li .xwbit{ color:#999; padding-left:4px; font-size:14px;}
.moexwlist ul li .xwname{ font-size:14px; white-space:nowrap;  text-overflow: ellipsis;}
.moexwlist ul li .wxtime{ float:right; color:#888; padding-right:10px;}

.ml10{ margin-left:10px;}
.modtjgl{ width:240px; overflow:hidden;}
.tjglcon{ max-height:249px; overflow:hidden; clear:both;}
.tjglcon li{ display:block; height:76px; padding-top:6px;}
.tjglcon li img{ width:240px; height:76px;}

.tuijian_four{ max-height:328px; overflow:hidden; clear:both;}
.tuijian_four li{ display:block; height:76px; padding-top:6px;}
.tuijian_four li img{ width:240px; height:76px;}


.mutv { overflow:hidden; clear:both; padding-top:5px; max-height:246px;}
.mutv ul {margin:0px; padding:0px; position:relative;}
.mutv ul li {display: block; clear:both; height:120px; width: 240px;  text-align: center; position:relative; margin-top:3px; overflow:hidden;}
.mutv li a:link, .mutv li a:visited {color:#535353; display:block; white-space:nowrap; overflow:hidden; margin:0 auto; width:246px; text-align:center; clear:both;}
.mutv li a:hover, .mutv li a:active {color:#fc3000;}
.mutv .shipintu{ display:block; width:240px; position:absolute; top:90px; left:0px; text-align:center; line-height:30px; height:30px; overflow:hidden; font-size:14px; background:#000; width:100%; filter:alpha(opacity=80); opacity: 0.7; font-size:14px; font-family:"微软雅黑"; color:#FFF; margin:0 auto; overflow:hidden;}
.mutv .shipintu:link,.mutv .shipintu:visited{ display:block; color:#FFF; width:240px; margin:0 auto; overflow:hidden; text-align:center;}

.mutv li img {width:240px; height:120px;}
.mutv li a.opacity { display:block; width:240px;}
.mutv li a.opacity span {background: url(../images/mu2_ty.png) no-repeat scroll center top transparent; cursor: pointer; display: block; height:75px; opacity: 0.3; position: absolute; filter:alpha(opacity=30); -moz-opacity:0.3; width:130px; left:55px; top:15px;}
.mutv li a.opacity:hover span { background: url(../images/mu2_ty.png) no-repeat scroll center top transparent; cursor: pointer; display: block; height:75px; opacity: 0.7; position: absolute; filter:alpha(opacity=70); -moz-opacity:0.7; width:130px; left:55px; top:15px;}


.mutvaik{ overflow:hidden; clear:both; max-height: 250px;}
.mutvaik ul {margin:0px; padding:0px; position:relative;}
.mutvaik li{display: block; clear:both; height:120px; width: 240px;  text-align: center; position:relative; margin-top: 5px; *margin-top:4px; overflow:hidden;}
.mutvaik li a:link,.mutvaik li a:visited{color:#535353; display:block; white-space:nowrap; overflow:hidden; margin:0 auto; width:246px; text-align:center; clear:both;}
.mutvaik li a:hover,.mutvaik li a:active{color:#fc3000;}
.mutvaik li a img{width:240px; height:120px;}
.mutvaik li a b{ display:block; width:240px; position:absolute; top:90px; left:0px; text-align:center; line-height:30px; height:30px; overflow:hidden; font-size:14px; background:#000; width:100%; filter:alpha(opacity=80); opacity: 0.7; font-size:14px; font-family:"微软雅黑"; color:#FFF; margin:0 auto; overflow:hidden; font-weight:normal !important; cursor:pointer; text-decoration:none;}
.mutvaik li a b:link,.mutvaik li a b:visited{ display:block; color:#FFF; width:240px; margin:0 auto; overflow:hidden; text-align:center;}
.mutvaik li a.opacity { display:block; width:240px;}
.mutvaik li a.opacity span {background: url(../images/mu2_ty.png) no-repeat scroll center top transparent; cursor: pointer; display: block; height:75px; opacity: 0.3; position: absolute; filter:alpha(opacity=30); -moz-opacity:0.3; width:130px; left:55px; top:15px;}
.mutvaik li a.opacity:hover span { background: url(../images/mu2_ty.png) no-repeat scroll center top transparent; cursor: pointer; display: block; height:75px; opacity: 0.8; position: absolute; filter:alpha(opacity=70); -moz-opacity:0.7; width:130px; left:55px; top:15px;}


.syzliao{ width:750px; overflow:hidden;}
#data{ overflow:hidden; border-top:none; padding-top: 16px;}
#data .zillist{ overflow:hidden; clear:both; min-height:38px;}
#data h2{ display:block; background:url(../images/tymb_ziliao.png) no-repeat;width:74px;overflow: hidden; font-weight:normal; height:20px; line-height:20px;text-align: center;float: left;color:#fff; margin-left:15px;  _margin-left:7px;}
#data h2 a:link,#data h2 a:visited{ color:#fff;}
#data h2 a:hover,#data h2 a:active{ color:#fff;}
#data ul{ display:block; margin:0; float:left; clear:right; width:630px; padding-left:15px; overflow:hidden;}
#data ul li { display:inline; padding:0px 5px; padding-bottom: 25px; _padding-bottom:20px; *padding-bottom:28px; display: block; float: left; white-space:nowrap;}
#data ul li a:link,#data ul li a:visited{ color:#3d3d3d;}
#data ul li a:hover,#data ul li a:active{ color:#FC3000;}

.yxtw{ display:block; overflow:hidden; padding-top:18px;border:1px solid #cbdce9; border-top:none; height:289px;}
.yxtw li{ display:block; float:left; width:199px; text-align:center;}
.yxtw li img{ width:181px; height:271px;}

.links{ width:1000px; margin:0 auto; line-height:24px; overflow:hidden; clear:both; border:none; padding:18px 10px 0 10px; color:#ccc;}
.links span{ color:#333;}
.links a:link,.links a:visited{ color:#666; padding:0 6px;}
.links a:hover,.links a:active{ color:#fc3000;}

.mu2_left{ width:750px; overflow:hidden;}
.mu2_right{ width:240px;}

.blockbox{ display:block; height:5px; width:1000px; overflow:hidden; clear:both;}

.yxgk{display: block;overflow: hidden;padding-top: 18px; clear:both;}
.yxgk li{ display:block; float:left; width:166px; height:138px;}
.yxgk li a{ display:block; width: 144px; margin:0 auto; overflow:hidden; white-space:nowrap; text-align:center;}
.yxgk li a img{ width:140px; height:105px; margin-bottom:6px; border: 1px solid #ddd;}

.size140105{display: block;overflow: hidden;padding-top: 18px; clear:both;}
.size140105 li{ display:block; float:left; width:165px; text-align:center; height:145px; overflow:hidden;}
.size140105 li a{ display:block; width:140px; margin:0 auto; overflow:hidden; white-space:nowrap; text-align:center;}
.size140105 li a img{ width:140px; height:105px; padding-bottom:8px; }

.s140105{ display: block;overflow: hidden;padding-top: 18px; clear:both;}
.s140105 ul{ padding:0px; margin:0px; overflow:hidden; display:block;}
.s140105 li{ display:block; float:left; width:166px; text-align:center; height:145px; overflow:hidden;}
.s140105 li a:link,.s140105 li a:visited{ color:#333; white-space:nowrap; overflow:hidden; display:block; margin:0 6px; text-align:center; cursor:pointer;}
.s140105 li a:hover,.s140105 li a:active{ color:#fc3000; text-decoration:none;}
.s140105 li a img{ width:140px; height:105px; padding-bottom:8px;}
.s140105 li a b{ display:block; height:20px; font-weight:normal; color:#333; overflow:hidden; clear:both;}
.s140105 li a b:link,.s140105 li a b:visited{ color:#333;}
.s140105 li a b:hover,.s140105 li a b:active{ color:#F00;}

.size9494{ display:block; padding-top:14px; overflow:hidden;}
.size9494 ul{ display:block; margin:0px; padding:0px;}
.size9494 li{ display:block; float:left; width:124px; text-align:center; height:135px; padding-top:2px;}
.size9494 li a:link,.size9494 li a:visited{ display:block; color:#535353;}
.size9494 li a:hover,.size9494 li a:active{ color:#fc3000;}
.size9494 li a img{ width:93px; height:93px; margin-bottom:7px; border:1px solid #ddd; padding:1px;}

.s9494{ display:block; padding-top:14px; overflow:hidden; clear:both;}
.s9494 li{display:block; float:left; width:124px; text-align:center; height:135px; padding-top:2px;}
.s9494 li a:link,.s9494 li a:visited{ color:#333; white-space:nowrap; overflow:hidden; display:block; margin:0 6px; text-align:center; cursor:pointer;}
.s9494 li a:hover,.s9494 li a:active{ color:#fc3000; text-decoration:none;}
.s9494 li a img{ width:93px; height:93px; margin-bottom:7px; border:1px solid #ddd; padding:1px;}
.s9494 li a b{ display:block; height:20px; font-weight:normal; color:#333; overflow:hidden; clear:both;}


.edition { float:left; width:720px; line-height:30px; color:#333; padding-left:40px; padding-top:4px;}
.edition a:link, .edition a:visited {color:#333; padding:0 19px; display:block; float:left; margin:0 1px; height:30px; font-size:12px; font-family:"宋体";}
.edition a:hover, .edition a:active {color:#333; text-decoration:none;}
.edition a.current:link,.edition a.current:visited{ color:#F00; font-weight:bold; font-size:13px;}


.size9999 {clear:both;overflow:hidden;padding-left:4px;_padding-left:2px;}
.size9999 ul {margin:0px;padding:0px; margin-top:15px;}
.size9999 ul li {display: block; float: left;height:134px; width:124px; text-align: center;overflow:hidden;white-space:nowrap;}
.size9999 li a:link, .size9999 li a:visited {color:#3d3d3d;display:block;margin:0 auto;white-space:nowrap;overflow:hidden;width:121px;}
.size9999 li a:hover, .size9999 li a:active {color:#fc3000;}
.size9999 li img { width:93px; height:93px;padding:2px; margin-bottom:8px;}

.s9999{ display:block; padding-top:14px; overflow:hidden; clear:both;}
.s9999 li{display: block; float: left;height:134px; width:124px; text-align: center;overflow:hidden;white-space:nowrap;}
.s9999 li a:link,.s9999 li a:visited{ color:#333; white-space:nowrap; overflow:hidden; display:block; margin:0 6px; text-align:center; cursor:pointer;}
.s9999 li a:hover,.s9999 li a:active{ color:#fc3000; text-decoration:none;}
.s9999 li a img{ width:93px; height:93px;padding:2px; margin-bottom:8px;}
.s9999 li a b{ display:block; height:20px; font-weight:normal; color:#333; overflow:hidden; clear:both;}

.size8095{ display:block; padding-top:14px; overflow:hidden;}
.size8095 ul{ display:block; margin:0px; padding:0px;}
.size8095 li{ display:block; float:left; width:124px; text-align:center; height:135px; padding-top:2px;}
.size8095 li a:link,.size9494 li a:visited{ display:block; color:#535353;}
.size8095 li a:hover,.size9494 li a:active{ color:#fc3000;}
.size8095 li a img{ width:80px; height:93px; margin-bottom:7px; padding:1px;}

.s8095{ display:block; padding-top:14px; overflow:hidden; clear:both;}
.s8095 li{display:block; float:left; width:124px; text-align:center; height:135px; padding-top:2px;}
.s8095 li a:link,.s8095 li a:visited{ color:#333; white-space:nowrap; overflow:hidden; display:block; margin:0 6px; text-align:center; cursor:pointer;}
.s8095 li a:hover,.s8095 li a:active{ color:#fc3000; text-decoration:none;}
.s8095 li a img{ width:80px; height:93px; margin-bottom:7px; padding:1px;}
.s8095 li a b{ display:block; height:20px; font-weight:normal; color:#333; overflow:hidden; clear:both;}

.color_tit1{ border:1px solid #cbdce9; border-bottom:1px solid #39ade6;  background:#f4f9fd;}
.color_tit1 .xinshou{ display:block; float:left; padding-left:25px; background:url(../images/mu2_lanico.png) no-repeat left center; height:38px; line-height:38px; font-size:18px; font-family:"微软雅黑"; color:#333;}
.color_tit1 a.xinshou:link,.color_tit1 a.xinshou:visited{ display:block; float:right; height:38px; line-height:38px; padding-right:10px; color:#999;}
.color_tit1 a.xinshou:hvoer,.color_tit1 a.xinshou:active{ color:#fc3000; text-decoration:none;}
.xinshou { float:left; width:200px; line-height:34px; color:#ffc000;}
.xinshou a:link, .xinshou a:visited {color:#000; padding:0 5px; display:block; float:left; height:34px; width:70px; text-align:center; font-size:14px; font-family:"微软雅黑";}
.xinshou a:hover, .xinshou a:active {color:#fff;  background:#604a8a; text-decoration:none;}
.xinshou a.too{ color:#fff !important; background:#604a8a;}

.guanfxw{ display:block; border:1px solid #cbdce9; border-top:none;}
.guanfxw ul{ display:block; overflow:hidden; height:168px;}
.guanfxw ul li{ width: 118px; height:27px; line-height:27px; float:left; display:block; overflow:hidden;}


/*焦点图*/
.mod_eye {text-align: center;margin-bottom: 5px;overflow: hidden;}
.eye {position: relative;width:370px; height:185px; overflow:hidden; position:relative;}
.eye img{ position:relative;}
.mod_eye{ text-align:center; margin-bottom:5px; overflow:hidden;}
.big_eye {background: #eaf6ff;position: relative;width:370px; height:57px;overflow: hidden;}
.big_eye_c {margin-left:4px;overflow: hidden;position: relative ;width:366px; height:52px;}
#big_eye ul {position: relative;left: 0;width: 536px;}
.big_eye_c li {float: left;margin-right:5px;}

.big_eye_c a {padding-top: 5px;width: 86px;height:43px;float: left;}
.big_eye_c img { width:86px;height:43px;opacity: 0.5;-moz-opacity: 0.5;filter: alpha(opacity=50);}
.big_eye_c a.ahover { background: url(../images/arrow.jpg) no-repeat scroll  center 3px transparent;}
.big_eye_c a.ahover img {width:86px;height:43px; border: 1px solid #1c79ba;opacity: 1;-moz-opacity: 1;filter: alpha(opacity=100); padding:1px;}

.big_eye_c .ahover{ display:block; padding-top: 5px;width: 86px;height:43px;float: left;}
.big_eye_c .ahover img { display:block; width:86px;height:43px;opacity: 0.5;-moz-opacity: 0.5;filter: alpha(opacity=50);}
.big_eye_c .ahover{ display:block; background: url(../images/arrow.jpg) no-repeat scroll  center 3px transparent;}
.big_eye_c .ahover img { display:block; width:86px;height:43px; border: 1px solid #1c79ba;opacity: 1;-moz-opacity: 1;filter: alpha(opacity=100); padding:1px;}

.eye p{ position:absolute;display:block; bottom:0px; left:0px; font-size:16px; font-family:"微软雅黑"; color:#fff; height: 30px; line-height: 30px; width: 370px; text-decoration:none;}
.eye i{background:#000; width:100%; filter:alpha(opacity=80); opacity: 0.7; width:370px; height:30px; /* line-height:30px; */ display: block;position: absolute;left: 0px;bottom: 0px;}


.guanfangnew{ width:360px; overflow:hidden; border:1px solid #cbdce9; border-bottom:1px solid #39ade6;  background:#f4f9fd; padding-left:8px;}
.guanfangnew .btname{ display:block; float:left; padding-left:25px; background:url(../images/mu2_lanico.png) no-repeat left center; height:30px; line-height:30px; font-size:16px; font-family:"微软雅黑"; color:#333;}
.guanfangnew a.btmore:link,.mulantit a.btmore:visited{ display:block; float:right; height:30px; line-height:30px; padding-right:10px; color:#999;}
.guanfangnew a.btmore:hvoer,.mulantit a.btmore:active{ color:#fc3000; text-decoration:none;}
.guanfang ul{ display:block; height:80px;  overflow:hidden; clear:both; border:1px solid #cbdce9; border-top:none;}
.guanfang ul li{ height:26px; line-height:27px; overflow:hidden; float:left; width:180px; display:block;}

#banner  ul  li  a img,#banner  ul  li  a{ width: 370px; height:185px}
#banner{ width:370px; height:185px; overflow:hidden; clear:both;}

.modimg  ul  li  a img,.modimg  ul  li  a{ width: 370px; height:185px}
.modimg{ width:370px; height:185px; overflow:hidden; clear:both;}

.zwshipin{ display: block;overflow: hidden;padding-top: 18px; clear:both; width:998px; border:1px solid #ffc3ad; border-top:none;}
.zwshipin li{ display:block; float:left; width: 249px; text-align:center; height:158px; overflow:hidden;}
.zwshipin li a:link,.zwshipin li a:visited{ color:#333; white-space:nowrap; overflow:hidden; display:block; margin:0 6px; text-align:center; cursor:pointer;}
.zwshipin li a:hover,.zwshipin li a:active{ color:#fc3000; text-decoration:none;}
.zwshipin li a img{ width:240px; height:120px; padding-bottom:8px;}
.zwshipin li a b{ display:block; height:20px; font-weight:normal; color:#333; overflow:hidden; clear:both;}
.zwshipin li a.opacity {position:relative;	display:block;	width:240px;}
.zwshipin li a.opacity span {background: url(../images/shipinbg30.png) no-repeat scroll center top transparent;	cursor: pointer;	display: block;	height:95px;	opacity: 0.3;	position: absolute;	filter:alpha(opacity=30);	-moz-opacity:0.3;	width:130px;	left:60px;	top:14px;}
.zwshipin li a.opacity:hover span {	background: url(../images/shipinbg30.png) no-repeat scroll center top transparent;	cursor: pointer;	display: block;	height:95px;	opacity: 0.7;	position: absolute;	filter:alpha(opacity=70);	-moz-opacity:0.7;	width:130px;	left:60px;	top:14px;}
.zwshipin li a b:link,.zwshipin li a b:visited{ color:#333;}
.zwshipin li a b:hover,.zwshipin li a b:active{ color:#F00;}

.tytujianzuo{ float:left; width:495px; overflow:hidden;}
.tytujianyou{ float:right; width:495px; overflow:hidden;}

.size9494zy{ display:block; padding-top:14px; overflow:hidden;}
.size9494zy ul{ display:block; margin:0px; padding:0px;}
.size9494zy li{ display:block; float:left; width:123px; text-align:center; height:135px; padding-top:2px;}
.size9494zy li a:link,.size9494 li a:visited{ display:block; color:#535353;}
.size9494zy li a:hover,.size9494 li a:active{ color:#fc3000;}
.size9494zy li a img{ width:93px; height:93px; margin-bottom:7px; border:1px solid #ddd; padding:1px;}


.zhiwus{ width:495px; overflow:hidden;}
.zws{ width:493px; border:1px solid #b3fb6d; border-top:none; overflow:hidden; padding-bottom:6px;}
.zws ul{ margin:0px; padding:0px; padding-left:12px; padding-top:18px;}
.zws ul li {display: block; float:left; height:130px; width:118px; text-align:center;}
.zws li a:link,.zws li a:visited{ color:#3d3d3d; display:block; white-space:nowrap; overflow:hidden;}
.zws li a:hover,.zws li a:active{ color:#F00;}
.zws li img{ width:93px; height:93px; margin:2px; border:1px solid #dcdcdc; margin-bottom:8px;}

.jiagnshis{ width:495px; overflow:hidden;}
.jss{ width:493px; border:1px solid #b3fb6d; border-top:none; overflow:hidden; padding-bottom:6px;}
.jss ul{ margin:0px; padding:0px; padding-left:12px; padding-top:18px;}
.jss ul li {display: block; float:left; height:130px; width:118px; text-align:center;}
.jss li a:link,.jss li a:visited{ color:#3d3d3d; display:block; white-space:nowrap; overflow:hidden;}
.jss li a:hover,.jss li a:active{ color:#F00;}
.jss li img{ width:93px; height:93px; margin:2px; border:1px solid #dcdcdc; margin-bottom:8px;}

.s9494zy{ display: block;overflow: hidden;padding-top: 18px; clear:both;}
.s9494zy li{ display:block; float:left; width:123px; text-align:center; height:135px; padding-top:2px;}
.s9494zy li a:link,.s9494zy li a:visited{ color:#333; white-space:nowrap; overflow:hidden; display:block; margin:0 6px; text-align:center; cursor:pointer;}
.s9494zy li a:hover,.s9494zy li a:active{ color:#fc3000; text-decoration:none;}
.s9494zy li a img{ width:94px; height:94px; padding-bottom:8px;}
.s9494zy li a b{ display:block; height:20px; font-weight:normal; color:#333; overflow:hidden; clear:both;}

