/*rightBar */
.baseInfo{
height:38px;
width:99.4%;
_width:100%;
background-color:#d6f0ff;
float:left;
margin-top:22px;
font-family:"宋体";
}
.baseInfo p{
float:left;
display:inline; 
vertical-align:middle;
margin-top:8px;
}
.baseTitle{
width:84%;
font-size:14px; 
color:#2897f3;
margin-left:20px;
font-weight:bolder;
}

.userInfo{
font-family:"宋体";
width:99.3%;
margin-top:20px;
float:left;
display:inline;
font-size:14px;
}
/*发送给邮箱的验证码*/
.userInfo{
margin-left:20px;
}
.Contect{
width:97%;
float:left;
margin-bottom:60px;
}
.Contect  span{
margin-left:110px;
font-size:16px;
font-weight:bolder;
}
.Contect  span a{
color:#2d96ff;
}
.tgInfo{
width:97%;
float:left;
}
.tgInfo p{
line-height:30px;
}