
/* CSS Document */
*{padding:0;margin:0;}
body{min-width:1038px;background-color:#f5f5f5; font-family:Microsoft YaHei;}
ul,li{list-style: none;}
img{border:none;}
a{text-decoration:none;color:#000;}
/*首页*/
.wrap,.bg-header1,.bg-header2{min-width:1038px;width:100%;margin:0 auto;_margin-top:-20px;}
.header-2, .header-3  {width: 1038px;margin: 0 auto;}
.bg-header1{background:url(../images/bg-01.png) no-repeat 50% 0;}
.header-1{background: url(../images/biaotilan.png) no-repeat center;width:100%;height:65px;}
.navbar{width:1038px;margin:0px auto;}
.navbar ul li{float:left;display:inline;cursor:pointer;width:auto;text-align:center;font-size:25px;font-family:'楷体';font-size:23px;margin-left:20px;height:65px;line-height:65px;vertical-align: middle;}
.navbar ul li a{color:#561010;}	
.navbar ul li a img{vertical-align:middle;margin-top:20px;_margin-top:40px;}
.navbar .logo{padding-top:0px;vertical-align:middle;margin-top:0px;}
.header-2{background: url(../images/bg_02.jpg) no-repeat 0;height: 408px;}
.header-3{background: url(../images/bg_04.jpg) no-repeat 0;height: 1289px;}
.header-3 .contenttop{width:100%;float:left;}
.header-3 .contenttop .leftimg{float:left;margin-left:35px;display:inline;width:784px;height:438px;background:url(../images/haibao1.png) no-repeat;}
.header-3 .contenttop .leftimg img{padding:2px 0px 0px 2px;}
.header-3 .contenttop .rightdiv{float:left;display: inline;width:173px;margin:8px 0px 0px 10px;}
.header-3 .contenttop .rightdiv p{width:100%;float:left;margin-bottom:8px;}
.header-3 .contenttop .rightdiv p.anzhuo{height:58px;width:173px;background:url(../images/anzhuonormal.png) no-repeat;float:left;cursor:pointer;}
.contenttop .rightdiv p.anzhuo:hover{background:url(../images/anzhuohover.png) no-repeat;}
.header-3 .contenttop .rightdiv p.ios{height:58px;width:173px;background:url(../images/iphonenormal.png) no-repeat;float:left;cursor:pointer;}
.header-3 .contenttop .rightdiv p.ios:hover{background:url(../images/iphonehover.png) no-repeat;}
.header-3 .contenttop .rightdiv .erewimabg{width:100%;height:247px;float:left; }
.header-3 .contenttop .rightdiv .erewimabg img{margin:135px 0px 0px 25px;}

/*footer*/
.footer{width:100%;float:left;text-align:center;padding-top:15px;background-color:#f5f5f5;height:80px;position:relative;color:#561010;}
.footer p{color:#561010;}
.footer a{color:#561010;}

/*兑换物品*/
.listgonglue{margin:15px 0px 0px 40px;}
.header-4{width:779px;background: url(../images/lbaobg.png) no-repeat;height:1091px;position:absolute;margin-top:9px;_position:static;_margin-top:-430px;margin-left:39px;}		
.header-4 .listdiv{width:750px;margin:0px auto;} 
.header-4  .listdiv .listcontent{width:100%;float:left;margin-top:20px;}
.header-4  .listdiv .listcontent .showlist {width:740px;margin:0px auto;height:900px;}
.header-4  .listdiv .listcontent .showlist li{width:100%;float:left;padding:10px 0px;border:2px solid #efd7d7; background-color:#f9f0e7;margin-bottom:15px;}
.header-4  .listdiv .listcontent .prizeimg{float:left;display:inline;padding:10px;background-color: #fff;margin-left:15px;}

.header-4  .listdiv .listcontent .prizeinfo{float:left;display:inline;margin:5px 10px 5px 20px;color:#561010;width:430px;}
.header-4  .listdiv .listcontent .prizeinfo p{width:100%;line-height: 25px;font-size:16px;}
.header-4  .listdiv .listcontent .prizeduihuan{float:left;display:inline;margin:33px 30px 5px 0px;vertical-align: middle;}
.header-4  .listdiv .listcontent .prizeduihuan img{cursor:pointer;}

/*用户中奖信息弹出*/
.wf100{width:100%;float:left;}
.loaduserpeizeinfo{width:680px;height:370px;border:1px solid #b09880;margin:0px auto;background-color:#fff;}
.loaduserpeizeinfo .topsection{width:100%;float:left;margin-bottom: 20px;}
.loaduserpeizeinfo .topsection .leftimg{width:20%;float:left;display:inline;padding-left:5%;}
.loaduserpeizeinfo .topsection .rightinfo{width:70%;float:left;margin-left:5%;display:inline;margin-top:40px;color:#ff0000;font-size:20px;}
.loaduserpeizeinfo .sectiontwo{margin-top: 20px;color:#550f0d;font-size:18px;}
.userinputinfos{width:590px;margin:0px auto;}
.userinputinfos p{margin-bottom:15px;font-size:18px;color:#561010;}
#userinput{width:100%;float:left;margin-bottom:15px;}
#userinput span{font-size:18px;color:#561010;}
#userinput input[type="text"]{line-height: 40px;width:200px;text-indent: 10px;font-size:18px;border-radius:6px;border:1px solid #ccc;}
.error{color:red;font-size:16px;}
.userclick{margin-left:60px;border:none;border-radius: none;width:112px;height:34px;background:url(../images/btn-djlq.png) no-repeat;cursor:pointer;}

/*找回密码*/
.header-4  .listdiv .listcontent .showlists {width:740px;margin:0px auto;}
.header-4  .listdiv .listcontent .showlists .userwritefindinfo{width:92%;margin:0px auto;}
.header-4  .listdiv .listcontent .showlists .userwritefindinfo p{color:#560e0f;font-size:18px;margin-bottom:15px;margin-top:20px;}
.usernewinfo{margin-bottom:10px;}
.usernewinfo span{width:120px;float:left;display:inline;text-align:right;color:#560e0f;font-size:16px;line-height:36px;vertical-align:middle;}
.usernewinfo input{width:278px;border:1px solid #ccc;font-family:Microsoft YaHei;height:30px;line-height:30px;vertical-align:middle;float:left;display:inline;_height:30px;padding:3px 0px;margin-left:5px;border-radius:5px;font-size:16px;text-indent:15px;}
.error{line-height:36px;vertical-align:middle;float:left;display:inline;margin-left:5px;}
.usernewinfo input.sendpwd{width:112px;height:34px;background:url(../images/btn-hqyzm.png) no-repeat;border:none;cursor:pointer;border-radius:0px;}
.usernewinfo input.respendpwd{width:112px;height:34px;background:url(../images/btn02.png) no-repeat;border:none;cursor:pointer;border-radius:0px;color:#fff;font-size:15px;}
#userclick{width:112px;height:34px;background:url(../images/btn-qd.png) no-repeat;border:none;cursor:pointer;margin:20px 0px 0px 10px;padding:0px;border-radius:0px;}
.userprocess{width:92%;margin:0px auto;}
.userprocess p{color:#560e0f;font-size:18px;margin-bottom:15px;margin-top:20px;}
#usersearchclick{width:112px;height:34px;background:url(../images/btn-cx.png) no-repeat;border:none;cursor:pointer;margin:20px 0px 0px 10px;border-radius:0px;}